h1 {
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}

button {
    width: 60%;
}

.form {
    color: #ffffff;
    background: rgba(19, 35, 47, 0.9);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.container {  color: #ffffff;}

.flex-outer,
.flex-inner {
    list-style-type: none;
    padding: 0;
}
.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}
.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.flex-inner {
    padding: 0 8px;
    justify-content: space-between;
}
.flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
}
.flex-outer li label,
.flex-outer li p {
    padding: 8px 0;
    letter-spacing: .09em;
    text-transform: capitalize;
}
.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}
.flex-outer > li > label + *,
.flex-inner {
    flex: 1 0 220px;
}
.flex-outer li p {
    margin: 0;
}
.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
    padding: 15px;
    border: none;
}
.flex-inner li {
    width: 100px;
}
.tab-group{
	display: flex;
	justify-content: center;
}
.tab-group li:hover, .tab-group .active {
    background: #009591;
    color: #ffffff;
}
.tab-group li {
    flex-direction: row;
    width: 300px;
    color: #a0b3b0;
    font-size: 20px;
    cursor: pointer;
    padding: 20px 0px;
    text-align: center;
    transition: .5s ease;
    background: rgba(160, 179, 176, 0.25);
}
.tab-group li a {
    display: block;
    text-decoration: none;
}
@media screen and (max-width: 767px){
    .flex-outer li, .flex-inner{
        display: flex;
        flex-wrap: nowrap; 
        align-items: center;
        justify-content: center;
    }
}